html {
  /* background-color: skyblue; */
    /* background-image: url('/assets/fluffybutt-inspo-board-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; */
    background: url('/assets/fluffybutt-inspo-board-background.png') no-repeat center fixed;
    background-size: cover;
}

.webpage-border {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
}

.title-container {
  text-align: center;
  margin: 0;
}

.animated-title {
  font-family: sans-serif;
  text-transform: uppercase;
  background: url(https://afremov.com/media/catalog/product/image_2827.jpeg);
  margin: 1.5rem;
  display: inline-flex;
  font-size: 3rem;
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0ef5bf54;
    animation: animatedOne 5s linear infinite;
}
@keyframes animatedOne {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.board-container {
  display: grid;
  /* grid-auto-flow: dense; */
  grid-template-columns: 1fr;
}

.board-list {
  display: flex;
  justify-content: center;
}

.new-board-button {
  margin-right: 10px;
  background-color: rgb(88, 216, 249);
  border: none;
  padding: 10px;
  font-size: 14px;
  box-shadow: 5px 5px 5px rgb(87, 150, 179);
}

.new-board-button:hover {
  background-color: rgb(113, 190, 164);
}

.board-buttons {
  background-color: rgb(59, 194, 199);
  border: none;
  padding: 10px;
  font-size: 14px;
  box-shadow: 5px 5px 5px rgb(87, 150, 179);
}

.board-buttons:hover {
  background-color: rgb(61, 174, 235);
}

.trash-buttons {
  background-color: rgb(59, 194, 199);
  border: none;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 8px;
  margin-right: 10px;
  box-shadow: 5px 5px 5px rgb(87, 150, 179);
}

.trash-buttons:hover {
  background-color: rgb(61, 174, 235);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
  /* padding: 0; */
  color: rgb(2, 87, 87);
  padding-bottom: 2%;
  background-color: rgb(141, 141, 147);
}

p {
  line-height: 5px;
}



