.card-list-container {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    /* background-color: bisque; */
}
.cardform {
    display: flex;
    align-items: flex-end;
}